  <footer class="footer">
    <div class="container-fluid">
      <p class="text-center small">&copy; 2018 Designed for BCP Inventory Management by <a href="https://djpawson.me">Darrell Pawson</a></p>
    </div>
  </footer>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/autoCloseAlert.js"></script>
</body>

</html>