    <footer class="footer">
        <div class="container">
            <span class="text-muted">&copy; 2018 Designed for BCP Inventory Management by <a href="https://djpawson.me">Darrell Pawson</a></span>
        </div>
    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>