<div class="row">
  <div class="col">
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= success %>
      </div>
    <% } %>
  </div>
</div>