<!-- register modal -->
  <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add Item</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-signin" id="itemAdd" action="/products/item/add" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Add Item</h1>
            </div>

            <div class="form-label-group">
              <input type="text" name="name" id="name" class="form-control" placeholder="Item Name" required autofocus>
              <label for="name">Item Name</label>
            </div>

            <div class="form-label-group">
              <input type="text" name="description" id="description" class="form-control" placeholder="Item Description" required>
              <label for="description">Item Description</label>
            </div>

            <div class="form-label-group">
              <input type="number" name="price" id="price" class="form-control" min="1" step="any" placeholder="Item Price" required>
              <label for="price">Item Price</label>
            </div>

            <div class="form-label-group">
              <input type="number" name="quantity" id="quantity" class="form-control" min="1" step="any" placeholder="Quantity" required>
              <label for="quantity">Quantity</label>
            </div>

            <div class="form-label-group">
              <select data-style="btn-info" name="itemType">
                <optgroup label="Item type">
                  <option name="" value="0">Select Item Type</option>
                  <option name="Baby Goods" value="Baby Goods">Baby Goods</option>
                  <option name="Electronics" value="Electronics">Electronics</option>
                  <option name="Small Appliances" value="Small Appliances">Small Appliances</option>
                  <option name="Candles" value="Candles">Candles</option>
                  <option name="Misc" value="Misc">Misc</option>
                </optgroup>
              </select>
            </div>

            <div class="form-label-group">
              <select data-style="btn-info" name="palletNumber">
                <optgroup label="Pallet Number">
                  <option name="" value="0">Select Pallet Number</option>
                  <% for(var i = 1; i <= 50; i+= 1) {%>
                    <option name="<%=i%>" value="<%=i%>"><%=i%></option>
                  <% } %>
                </optgroup>
              </select>
            </div>

            <div class="form-label-group">
              <input id="image" class="form-control" type="file" name="image">
              <label for="image">Image</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Items to Inventory</button>
          </div>
        </form>
      </div>
    </div>
  </div>